.about-us-container {
  display: flex;
  align-items: center;
  
  flex-wrap: wrap; /* Memungkinkan elemen untuk berpindah baris jika ruang tidak cukup */
  flex-direction: column; /* Susun elemen secara kolom */
  height: 100vh;

}

.about-us-content {
  align-items: center;
  padding: 20px; /* Berikan ruang dalam */
}
.about-us-left,
.about-us-right {
  display: flex;
  justify-content: center; /* Posisi gambar di tengah */
  gap: 900px; /* Jarak antar gambar */
  transform: translateY(-30px);
}

.about-us-left img,
.about-us-right img {
  padding: 10px;
  width: 100%;
  margin: 10px;
  max-width: 300px; /* Batas ukuran gambar */
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3); /* Bayangan lembut */
  
  
}

h1 {
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  font-style: normal;
  font-size: 2.5rem;
  text-align: center;
}

p {
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  font-style: normal;
  color: black;
  font-size: 1.2rem;
  line-height: 1.5;
  text-align: center; /* Rata tengah teks */
}

/* Responsiveness */
@media screen and (max-width: 768px) {
  .about-us-container {
    flex-direction: column; /* Susunan kolom */
    align-items: center; /* Tengah konten */
  }

  .about-us-left,
  .about-us-right {
    flex-wrap: wrap; /* Pindahkan gambar ke baris baru jika tidak muat */
    gap: 10px; /* Jarak antar gambar */
  }

  .about-us-left img,
  .about-us-right img {
    padding: 10px;
  /* Gambar lebih kecil untuk layar kecil */
    max-width: 200px;
   
    
  }

  h1 {
    font-size: 1.8rem; /* Perkecil ukuran judul */
  }

  p {
    font-size: 1rem; /* Perkecil ukuran teks */
  }
}
