header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 1rem 2rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.nav-tittle {
  color: white; /* Menetapkan warna teks putih */
  font-size: 2rem; /* Ukuran font yang lebih besar */
  font-weight: bold; /* Teks yang tebal */
  font-family: "Josefin Sans", sans-serif; /* Menggunakan font Josefin Sans */
  text-shadow: 0 0 5px #ff6347, 0 0 10px #ff6347, 0 0 15px #323131; /* Efek bayangan pada teks */
  transform: rotate(5deg); /* Sedikit rotasi untuk efek menarik */
  margin-left: 1rem; /* Memberikan margin kiri */
}
.nav-tittle:hover{
  transform: rotate(-5deg);
}
.navbar {
  display: flex;
  justify-content: space-evenly; /* Membuat elemen dalam navbar tersebar */
  align-items: center; /* Menjaga elemen terpusat secara vertikal */
  background:transparent; /* Menambahkan latar belakang agar navbar lebih jelas */
  width: 80%; /* Menetapkan navbar penuh di layar */
  

}

.nav-links {
   /* Menggunakan flexbox untuk menata tautan secara horizontal */
   /* Menyebarkan tautan dengan jarak yang merata */
  list-style: none; /* Menghilangkan bullet point pada daftar */
  margin: 0 auto; /* Menghilangkan margin default */
  padding: 0; /* Menghilangkan padding default */
}

.nav-links a {
  font-family: "Josefin Sans", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: white;
  text-decoration: none;
  padding:10px 20px;
  border-bottom: 2px solid transparent;
}

.nav-links a.active {
  border-bottom-color: black;
  transition: border-bottom-color 1.1s ease-in;
  color: rgb(71, 70, 70);
}

/* Menu Toggle */
.menu-toggle {
  display: none;
  font-size: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1000;
  position: fixed;
  top: 1rem;
  right: 1rem;
}

/* Media Queries untuk layar kecil */
@media screen and (max-width: 768px) {
  .navbar {
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: 0;
    width: 500px;
    height: 100vh;
    background-color: black;
    border-radius: 10px;
    padding: 2rem;
    transition: transform 0.3s ease-in-out;
   
    
    
    
  }

  .navbar.open {
    display: flex;
    transform: translateX(0);

    right: 0;
    background-color: black;
  }

  .nav-tittle {
    margin: 0  auto;
    transform: none;
  }

  .nav-links  {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    
  }

  .menu-toggle {
    display: block;
   
  }
}
